{% extends "layout.html" %}
{% block content %}
<h1>About Page</h1>
<p>Vax Kenya's aim is to promote and participate in the
provision of integrated and high quality curative,
preventive, promotive and rehabilitative health
care services for all Kenyans. </p>
<br>
<p>This has been achieved by providing all immunization days for mothers, sending the same infortation to them via email, and also providing on site pediatricians to provide all care and support needed at any given time, any day. </p>
{% endblock content %}